body 
{

margin: 0;
background: #011e29;
font-family: 'Times New Roman', Times, sans-serif;
font-weight: 300;

}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #2Fb37C;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 30px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;   
}
nav a:hover {
    color:purple;
}

h1 {
    text-align: center;
    color: lightcyan;
    
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60%;
    padding: 20px;
}

footer
{
    background-color: #2Fb37C;
    text-align: center;
    padding: 5px;
    color: gold;
}
.